<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8"><h1>Editing Professional Upgrade</h1></div>
</div>
<%= render 'form' %>

<%= link_to 'Show', @professional_upgrade %> |
<%= link_to 'Back', root_path %>
