<h1>Acerca de Nosotros</h1>
	
<p>

La idea de esta pagina es que mas personas nos cuenten a cerca de sus experiencia en la busqueda de un empleo digno.  Y Cuantas veces los han rechazado.  

Cuentanos que piensas, sera la edad?, no tienes la experiencia?, estas aplicando en un momento de recesion?

Todas las consultas son bienvenidas.</p>